version: 2.1

jobs:
  lint_backend:
    docker:
      - image: cimg/php:8.2-node
    steps:
      - checkout
      - run:
          name: Vérifier le style de code avec PHP-CS-Fixer
          command: |
            cd backend
            ./vendor/bin/php-cs-fixer fix --dry-run --diff

  test_backend:
    docker:
      - image: cimg/php:8.2-node
    steps:
      - checkout
      - run:
          name: Installer les dépendances Composer
          command: |
            cd backend
            composer install 
      - run:
          name: Exécuter les tests PHPUnit
          command: |
            cd backend
            ./vendor/bin/phpunit

  test_frontend:
    docker:
      - image: cimg/node:20.17.0
    steps:
      - checkout
      - run:
          name: Installer les dépendances npm
          command: |
            cd frontend
            npm install
      - run:
          name: Exécuter les tests Frontend
          command: |
            cd frontend
            npm run test

  build_backend:
    docker:
      - image: cimg/php:8.2-node
    steps:
      - checkout
      - run:
          name: Installer les dépendances Composer
          command: |
            cd backend
            composer install
      - run:
          name: Build du backend Symfony
          command: |
            cd backend
            php bin/console cache:clear
            php bin/console doctrine:migrations:migrate --no-interaction

  build_frontend:
    docker:
      - image: cimg/node:20.17.0
    steps:
      - checkout
      - run:
          name: Installer les dépendances Node.js
          command: |
            cd frontend
            npm install
      - run:
          name: Build du frontend Next.js
          command: |
            cd frontend
            npm run build

workflows:
  version: 2
  pipeline:
    jobs:
      - lint_backend
      - test_backend
      - test_frontend
      - build_backend:
          requires:
            - test_backend
      - build_frontend:
          requires:
            - test_frontend