version: 2.

jobs:
  test_backend:
    docker:
      - image: cimg/php:8.2-node  # Utiliser une image PHP avec Node
    environment:
      SKIP_PASSWORD_WARMER: 1
    # working_directory: ./backend  # On définit ici le répertoire de travail par défaut
    steps:
      - checkout
      - run:
          name: Vérifier le contenu du dépôt après checkout
          command: ls -lR 
      - run:
          name: Vérifier le contenu du dépôt
          command: ls -l 
      - run:
          name: Vérifier le contenu du dossier backend
          command: ls -l backend # Vérifie que le répertoire backend est bien là
      - run:
          name: Installer les dépendances PHP
          command: |
            cd backend
            composer install
      - run:
          name: Exécuter les tests PHPUnit
          command: |
            cd backend
            ./vendor/bin/php-cs-fixer fix tests 
            ./vendor/bin/php-cs-fixer fix src

  # Job pour tester le frontend Next.js
  test_frontend:
    docker:
      - image: cimg/node:20.17.0
    # working_directory: ./frontend  # On définit ici le répertoire de travail par défaut
    steps:
      - checkout
      - run:
          name: Vérifier le contenu du dépôt après checkout
          command: ls -lR 
      - run:
          name: Vérifier le contenu du frontend
          command: ls -l  # Vérifie que le répertoire frontend est bien là
      - run:
          name: Installer les dépendances Node.js
          command: |
            cd frontend
            npm install
      - run:
          name: Exécuter les tests Jest
          command: |
            cd frontend
            npm run test



  #Job pour construire le backend Symfony
  build_backend:
    docker:
      - image: cimg/php:8.2-node
    steps:
      - checkout
      - run:
          name: Installer les dépendances Composer
          command: |
            cd backend
            composer install
      - run:
          name: Build du backend Symfony
          command: |
            cd backend
            php bin/console cache:clear


  #Job pour construire le frontend Next.js
  build_frontend:
    docker:
      - image: cimg/node:20.17.0
    steps:
      - checkout
      - run:
          name: Installer les dépendances Node.js
          command: |
            cd frontend
            npm install
      - run:
          name: Build du frontend Next.js
          command: |
            cd frontend
            npm run build


workflows:
  version: 2
  pipeline:
    jobs:
      - test_backend
      - test_frontend
      - build_backend:
          requires:
            - test_backend
      - build_frontend:
          requires:
            - test_frontend