<h1>Activation de votre compte sur Invoicy</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Pour activer votre compte sur Invoicy cliquez sur le lien ci-dessous.</p>
<a href="http://localhost:3000/verif/{{ token }}">Activer mon compte</a>

<p>Merci</p>