<h1>Activation de votre compte sur Invoicy</h1>
<p>Bonjour {{ user.firstname }},</p>
<p>Pour activer votre compte sur OpenBlog cliquez sur le lien ci-dessous.</p>
<p><a href="{{ absolute_url(path('verify_user', {token: token})) }}">Lien</a></p>

<p>Merci</p>